* {
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

span {
    font-size: 46px;
}

.main-info {
    font-size: 30px;
    padding-right: 150px;
}

.main-img {
    height: 450px;
    margin: 0;
    border-radius: 90px;
    margin-right: 100px;
}

.design-container {
    height: auto;
    position: relative;
    width: 500px;
    display: inline;
    margin: 100px;


}

.design-img {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 90px;
    height: 300px;
    border-radius: 60px;
}

.one {
    position: absolute;
    left: 150px;
    top: -210px;
    font-size: 35px;
}

.two {
    position: absolute;
    left: 540px;
    top: -210px;
    font-size: 35px;
}

.three {
    position: absolute;
    left: 950px;
    top: -210px;
    font-size: 35px;
}

.directorinfo {
    margin-top: 50px;
    margin-left: 100px;
}

.directorimg {
    margin-top: 70px;
    margin-right: 100px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.btn-toggle {
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    margin-left: 400px;
    border-radius: 50% 20%;
}

.product-bg {
    background-color: rgb(184, 19, 19);
    height: 430px;
    width: 370px;
    float: left;
    margin-left: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.product-bg img {
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
}

.valueProduct {
    color: white;
    font-size: 25px;
    margin-left: 150px;
}

.operations {
    height: 30px;
    width: 30px;

}