body{
    background-color: aliceblue;
}
.product-bg {
    background-color: #d2d7db;
    height: 450px;
    width: 500px;
    float: left;
    margin-left: 100px;
    margin-bottom: 50px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.product-bg:hover {
    transform: scale(1.05);
}
.design-img{
    width: 250px;
    width: 250px;
    border-radius: 250px;
    margin: 50px auto;
    display: block;
}
.price{
    color: rgb(3, 16, 8);
    font-size: 1em;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}
button:hover {
background-color: #555;
}
.buy-btn {
    flex: 1;
    margin-right: 5px;
    background-color: #007bff;
    color: white;
    /* border-radius: 10px; */
}
.buy-btn a{
    text-decoration: none;
}

.buy-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    border-radius:  10px 0 10px 0;;
}
.like-btn {
    flex: 1;
    margin-left: 5px;
    /* border-radius: 10px; */
}
.like-btn a {
    text-decoration: none;
}

.copy {
    padding-top: 30px;
    text-align: center;
    width: 100%;
    height: 50px;
    color: black;
}
.copy:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
footer{
    background-color:#f8ecec;
    height: 350px;
    margin-top: 100px;
    color: black;
}
.footer-container{
    display:flex;
    justify-content: space-around;
}
.footer-box{
    border-bottom: 2px solid goldenrod;
    height: 240px;
    width: 300px;
    color: black;
    padding: 20px 10px;
    text-align: justify;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 3;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.footer ul li {
    flex: 1;
    text-align: start;

}

.footer ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 15px;
}

.footer ul li a:hover {
    color: rgb(204, 116, 15) ;
}
.footer-info{
    display: block;
}
.logo-icon{
    height: 50px;
    /* width: 50px; */
    background-color: rgb(101, 65, 65);
    
    
}
.footer-info:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-title{
    font-size: 20px ;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
    display: block;
}
.footer-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address{
    display: block;
    color: black;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 50px;
}
.footer-address:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address-title{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 17px;
}
.footer-address-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}

@media screen and (max-width:768px){
    .copy {
        padding-top: 25px;
        text-align: center;
        width: 100%;
        height: 25px;
        background-color: #f8ecec;
        color: black;
        font-size: 14px;
    }
    .copy:hover{
        color: rgb(204, 116, 15);
        cursor: pointer;
    }
    footer{
        background-color: #f8ecec;
        height:fit-content;
        padding: 20px 5px;
        margin-top: 100px;
        /* border: 5px solid red; */
    }
    .footer-container{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
    }
    .footer-box{
        border-bottom: 2px solid goldenrod;
        height: 200px;
        width: 300px;
        color:black;
        padding: 10px 10px;
        text-align: justify;
    }
    
    .footer ul {
        list-style-type: none;
        margin: 0;
        padding: 3;
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: wrap;
    
    }
    
    .footer ul li {
        flex: 1;
        text-align: start;
    
    }
    
    .footer ul li a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 6px 20px;
        font-size: 10px;
    }
    
    .footer ul li a:hover {
        color:  rgb(204, 116, 15);
    }
    .footer-info{
        display: block;
        font-size: 10px;
        padding: 10px 2px;
    }
    
    .footer-info:hover{
        color:  rgb(204, 116, 15);
        cursor: pointer;
    }
    .logo-icon{
        height: 35px;
        width: 35px;
     
        background-color: #fbf8f8;
        padding: 10px;
        background-color: rgb(101, 65, 65)
    }
    .footer-title{
        font-size: 14px ;
        font-weight: bold;
        color: black;
        padding-bottom: 20px;
        display: block;
    }
    .footer-title:hover{
        color:  rgb(204, 116, 15);
        cursor: pointer;
    }
    .footer-add-container{
        margin-left: 40px;
    }
    .footer-address{
        display: block;
        color: black;
        font-size: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 50px;
    }
    .footer-address:hover{
        color:  rgb(204, 116, 15);
        cursor: pointer;
    }
    .footer-address-title{
        display: block;
        color: black;
        font-weight: bold;
        font-size: 11px;
    }
    .footer-address-title:hover{
        color: rgb(204, 116, 15);
        cursor: pointer;
    }
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 90;
    align-items: center;
}
.copy {
    padding-top: 30px;
    text-align: center;
    width: 100%;
    height: 50px;
    color: black;
}
.copy:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
footer{
    background-color:#f8ecec;
    height: 350px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.footer-container{
    display:flex;
    justify-content: space-around;
    color: black;

}
.footer-box{
    border-bottom: 2px solid goldenrod;
    height: 240px;
    width: 500px;
    color: black;
    padding: 20px 10px;
    text-align: justify;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.footer ul li {
    flex: 1;
    text-align: start;

}

.footer ul li a {
    display: block;
    color: #fbf8f8;
    text-decoration: none;
    font-size: 14px;
    padding: 6px;
    color:black;
}

.footer ul li a:hover {
    color: rgb(204, 116, 15) ;
}
.footer-info{
    display: block;
    font-size: 14px;
    text-decoration: none;
}
.logo-icon{
    height: 50px;
    background-color: rgb(101, 65, 65);
    
    
}
.footer-info:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-title{
    font-size: 20px ;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
    display: block;
}

.footer li{
    color: black;
    text-decoration: none;
}
.footer-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address{
    display: block;
    color: black;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 50px;
}
.footer-address:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address-title{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 17px;
}
.footer-address-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}

/* small device */
@media screen and (min-width: 100px) and (max-width:450px){

    #main-image{
        height: 350px;
        width: 290px;
        margin-left: 10px;
    }
   .directorimg{
        margin-top: 0px;
    }
    .preview{
        flex-wrap: wrap;
    }
    .main-img{
            width: 290px;
            height: 350px;
            margin-top: 20px;
            margin-left: 20px;
            flex-wrap: wrap;
            border: 1px solid black;
            
        }
        .section{
            margin: 0;
            padding: 0;
        }
        .main-info{
            margin-top: 10px;
            margin-left: 20px;
            padding-right:50px ;
           font-size: 20px;

        }
        .design-img{
            margin: 0;
            padding: 0;
        }
        .first{
            padding: 0;
            margin-left: -100px;
        }
       .one{
        left: -190px;
        top: 0px;
        font-size: 20px;
        height: 50px;

       }
        .two{
            left: -680px;
            top: 150px;
            font-size: 20px;
        height: 50px;
        }
        .three{
            left: -1180px;
            top: 300px;
            font-size: 20px;
        height: 50px;
        }
       .product-bg{
        margin: 5px 15px;
       }
        .section{
            flex-wrap: wrap;
        }
        .directorinfo{
            margin-top: 400px;
            flex-wrap: wrap;
            
        }
        .contact-platform{
            flex-wrap: wrap;
            margin:-1800px;
        }


        
}
/* normal device */
@media screen and (min-width : 451px) and (max-width: 768px) {
    #main-image{
        height: 380px;
        width: 550px;
        margin: 0;
        margin-left: 30px;
    }
    .preview{
        flex-wrap: wrap;
    }
        .main-img{
            width: 550px;
            height: 500px;
            flex-wrap: wrap;
          margin: 5px 0px 0px 30px;
        }
        .main-info{
            margin-top: 30px;
            margin-left: 30px;
            padding-right: 100px;
            line-height: normal;
            list-style: none;
        }
        .design-img{
            margin: 0;
            padding: 0;
        }
        .first{
            padding: 0;
            margin-left: -100px;
        }
        .design-container{
            flex-wrap: wrap;
        }
       .one{
        left: 0px;
        top: 0px;

       }
        .two{
            left: -500px;
            top: 200px;
        }
        .three{
            left: -1000px;
            top: 400px;
        }
        .design-img{
            margin-left: 50px;
        }
        .section{
            flex-wrap: wrap;
        }
        .directorinfo{
            margin-left: 30px;
            margin-top: 600px;
            flex-wrap: wrap;
        }
        .directorimg{
            margin-top: 20px;
        }
     
        .contact-platform{
            flex-wrap: wrap;
            margin: -1650px;
        }   
}
/* tablet device*/
@media screen and (min-width: 769px) and (max-width: 992px) {
    .main-img{
        margin-top: 20px;
        margin-left: 10px;
        height: 500px;
        width: 400px;
    }
    #main-image{
        margin-left: 150px;
        height: 400px;
        width: 600px;
    }
    .main-info{
        padding-right: 30px;
    }
    .directorinfo{
        padding: 0;
        margin-left: 20px;
    }
    .directorimg{
        height: 200px;
        width: 330px;
    }















    .contact-platform{
        flex-wrap: wrap;
        margin:-850px;
    }
}