@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-condensed{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 70px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: -100px auto;
    
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: grid;
    gap: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.pr{
    margin: 10px 22px ;  
    color: rgb(43, 25, 209);
    font-size: 22px;
    font-family: 'Lora', serif;
    position: relative;
    top: 32px;
}
.logo img{
    height: 80px;
    margin: 5px;
}
.input-text{
    height: 50px;
    width: 550px;
    font-size: 25px;
    border: none;
    margin: 10px 20px;
}
.nav-list{
    display: flex;
   
}
.nav-list img{
    color: rgb(236, 174, 17);
    height: 50px;
    margin: 20px;
    cursor: pointer;
}
.navbar{
    display: flex;
 
    height: 8%;
    background-color:#f8ecec;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}
.main-section{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}
.main-section a{
    text-decoration: none;
    color: black;
}
.main-section p{
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
.add{
    text-align: center;
}
.header{
    text-align: center;
}
.footer-title{
    font-size: 14px ;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
    display: block;
}
.footer-info{
    display: block;
}
.logo-icon{
    height: 50px;
    width: 50px;
    
    
}
.footer-box{
    border-bottom: 2px solid goldenrod;
    height: 240px;
    width: 300px;
    color: black;
    padding: 20px 10px;
    text-align: justify;
}
footer{
    background-color:#f8ecec;
    height: 350px;
    margin-top: 100px;
    color: black;
}
.footer-container{
    display:flex;
    justify-content: space-around;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 3;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.footer ul li {
    flex: 1;
    text-align: start;

}

.footer ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 15px;
}

.footer ul li a:hover {
    color: rgb(204, 116, 15) ;
}
.footer-info:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address{
    display: block;
    color: black;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 50px;
}
.footer-address:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address-title{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 17px;
}
.footer-address-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.copy {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    height: 50px;
    color: black;
}
.copy:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.pg{
    color: black;
    margin-top: 30px;

}
.div-contact{
    display: flex;
    flex-direction: row;
    margin: 5px 200px;
}

@media screen and (max-width:768px){
    .copy {
        padding-top: 25px;
        text-align: center;
        width: 100%;
        height: 25px;
        background-color: #f8ecec;
        color: black;
        font-size: 14px;
    }
    .copy:hover{
        color: rgb(204, 116, 15);
        cursor: pointer;
    }
    footer{
        background-color: #f8ecec;
        height:fit-content;
        padding: 20px 5px;
        margin-top: 100px;
        /* border: 5px solid red; */
    }
    .footer-container{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
    }
    .footer-box{
        border-bottom: 2px solid goldenrod;
        height: 200px;
        width: 300px;
        color:black;
        padding: 10px 10px;
        text-align: justify;
    }
    
    .footer ul {
        list-style-type: none;
        margin: 0;
        padding: 3;
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: wrap;
    
    }
    
    .footer ul li {
        flex: 1;
        text-align: start;
    
    }
    
    .footer ul li a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 6px 20px;
        font-size: 10px;
    }
    
    .footer ul li a:hover {
        color:  rgb(204, 116, 15);
    }
    .footer-info{
        display: block;
        font-size: 10px;
        padding: 10px 2px;
    }
    
    .footer-info:hover{
        color:  rgb(204, 116, 15);
        cursor: pointer;
    }
    .logo-icon{
        height: 35px;
        width: 35px;
        border-radius: 80px;
        background-color: #fbf8f8;
        padding: 10px;
    }
    .footer-title{
        font-size: 14px ;
        font-weight: bold;
        color: black;
        padding-bottom: 20px;
        display: block;
    }
    .footer-title:hover{
        color:  rgb(204, 116, 15);
        cursor: pointer;
    }
    .footer-add-container{
        margin-left: 40px;
    }
    .footer-address{
        display: block;
        color: black;
        font-size: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 50px;
    }
    .footer-address:hover{
        color:  rgb(204, 116, 15);
        cursor: pointer;
    }
    .footer-address-title{
        display: block;
        color: black;
        font-weight: bold;
        font-size: 11px;
    }
    .footer-address-title:hover{
        color: rgb(204, 116, 15);
        cursor: pointer;
    }
}
.pr{
    margin: 10px 22px ;  
    color: rgb(43, 25, 209);
    font-size: 22px;
    font-family: 'Lora', serif;
    position: relative;
    top: 32px;
}
.Contact{
    
    min-height: 3vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
   text-align: center;
   
} 
.Contact .content h2{
        margin-top: -20px;
    }
    /* media query */
@media screen and (max-width: 648px){
    .container{
        width: 50%;
        flex-direction: column;
        padding-right: -13px;
        margin-right: 112px;
    }
    .contactinfo-me {
       width:140% ;
    }
    
    .container .contact-form {
        width: 200%;
        min-height: 250px;
        margin-top: 10px;
        margin-left:65%;
       
        
    }
    .container .contac-tform .inputbox textarea{
         width: 80%;
    }
    .container .contact-form .inputbox{
        width: 80%;
    }
    .Contact .content h2{
        margin-top: -20px;
    }
    .btn{
    margin-left:56px;
  
     
    }
}
@media screen and (min-width:992px)and(max-width:1300px) {
    .container{
        width: 100%;
        padding-right: 21px;
        margin-left: 90px;
        min-width:992px;
        max-width:1300px;
       
    }
    .container .contact-form{
        width: 200%;
        min-height: 400px;
        margin-bottom: 10px;
        margin-left:130px;
      }
    
    .container textarea{
        width: 67px;
        margin-left: -60px;
        padding-left: 70px;
     
      
    }
    .container .contact-form .inputbox textarea{
        width: 46%;
   }
   .Contact .content h2{
    margin-top: -10px;
   }

    .btn{
            margin-right: 78px;
          
    }
  .container .contact-form .inputbox{
       width: 80%;
   }
   .Contact .content h2 p{
       margin-bottom: -200px;
   }

}

.dark-mode {
    background-color: black;
    color: whitesmoke;
}
.btn-toggle {
    cursor: pointer;
    background-color: none;
    background-color: transparent;
    border: none;
}
    
