* {
    margin: 0;
    padding: 0;
}

/*navbar*/
.navbar{
    display: flex;
    width: 100%;
    height: 8%;
    background-color:#f8ecec;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.main-section{
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin: 10px 0px;
   
}
.main-section a{
    text-decoration: none;
    color: black;
}
.main-section p{
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
   
}
.main-section p:hover{
    border: 1px solid black;
    padding: 1px;
}
.logo img{
    height: 70px;
    margin: 5px;
    background-color:rgb(101, 65, 65);
    margin-left: 70px;
    padding: 5px;

}
.nav-list{
    display: flex;
    gap: 110px; 
    justify-content: end;
   
}
.nav-list img{
    color: whitesmoke;
    height: 50px;
    cursor: pointer;
}
.nav-list img:hover{
    background-color:#d2d7db ;
    border: 1px solid black;
}
/* new add */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a i {
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 20px;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}/* theme change */
.dark-mode {
    background-color: rgb(36, 33, 33);
    color: white;
}
.btn-toggle {
    cursor: pointer;
    background-color: transparent;
    border: none;
   
}
 .dark-mode .dark-section a{
   color: white;
    
}


/*footer **/

.copy {
    padding-top: 30px;
    text-align: center;
    width: 100%;
    height: 50px;
    color: black;
}
.copy:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
footer{
    background-color:#f8ecec;
    height: 350px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.footer-container{
    display:flex;
    justify-content: space-around;
    color: black;

}
.footer-box{
    border-bottom: 2px solid goldenrod;
    height: 240px;
    width: 300px;
    color: black;
    padding: 20px 10px;
    text-align: justify;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.footer ul li {
    flex: 1;
    text-align: start;

}

.footer ul li a {
    display: block;
    color: #fbf8f8;
    text-decoration: none;
    font-size: 14px;
    padding: 6px;
    color:black;
}

.footer ul li a:hover {
    color: rgb(204, 116, 15) ;
}
.footer-info{
    display: block;
    font-size: 14px;
    text-decoration: none;
}
.logo-icon{
    height: 50px;
    background-color: rgb(101, 65, 65);
    
    
}
.footer-info:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-title{
    font-size: 20px ;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
    display: block;
}

.footer li{
    color: black;
    text-decoration: none;
}
.footer-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address{
    display: block;
    color: black;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 50px;
}
.footer-address:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address-title{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 17px;
}
.footer-address-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}




@media screen and (min-width: 100px) and (max-width:450px){
    .navbar{
    width: 450px;
    gap:0;
    }
    .logo img{
        height: 15px;
        margin-left: 2px;
    }
    .nav-list{
    width: 450px;
    justify-content: center;
    gap:13px;
    }
 .nav-list img{
        height: 25px;
        cursor: pointer;
    }
}



@media screen and (min-width:401) and (max-width:768px){    
    .navbar{
        width: 768px;
        background-color: tomato;
        }
    .logo img{
        height: 30px;
        margin-left: 30px;
    }
    .nav-list{
    gap: 20; 
    }
 .nav-list img{
        height: 20px;
        cursor: pointer;
    }
    .copy {
        padding-top: 25px;
        text-align: center;
        width: 100%;
        height: 25px;
        background-color: #f8ecec;
        color: black;
        font-size: 14px;
    }
    .copy:hover{
        color: rgb(204, 116, 15);
        cursor: pointer;
    }
    footer{
        background-color: #f8ecec;
        height:fit-content;
        padding: 20px 5px;
        margin-top: 100px;
    }
    .footer-container{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
    }
.footer-box{
    border-bottom: 2px solid goldenrod;
    height: 200px;
    width: 300px;
    color:black;
    padding: 10px 10px;
    text-align: justify;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 3;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-decoration: none;
    flex-wrap: wrap;

}

.footer ul li {
    flex: 1;
    text-align: start;

}

.footer ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 10px;
}

.footer ul li a:hover {
    color:  rgb(204, 116, 15);
}
.footer-info{
    display: block;
    font-size: 10px;
    padding: 10px 2px;
}

.footer-info:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.logo-icon{
    height: 35px;
    width: 35px;
    border-radius: 80px;
    background-color: #fbf8f8;
    padding: 10px;
}
.footer-title{
    font-size: 14px ;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
    display: block;
}
.footer-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-add-container{
    margin-left: 40px;
}
.footer-address{
    display: block;
    color: black;
    font-size: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 50px;
}
.footer-address:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address-title{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 11px;
}
.footer-address-title:hover{
    color: rgb(204, 116, 15);
    cursor: pointer;
}
}