body {
    display: flex;
    flex-direction: column;
   
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}
.form-container {
    background-color: #c8c6a9;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 460px;

}
.form-control {
    width: 300px; /* Adjust width as needed */
    height: 23px; 
}
.cart-height {
    height: 340px;
    margin-top: 10px;
    background-color: rgb(207, 203, 203);
}
.label-text {
    background-color: gray; 
    color: white;
    padding: 15px 140px; 
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px; 
    padding-top: 10px;
    border-radius: 50px;
}
.form-data {
    margin-bottom: 50px;
    margin-top: 45px;
}
.btn-add {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.bill-info {
    margin-left: 50px;
    border: 1px solid #ccc; 
    border-radius: 30px; 
    padding: 10px;
    width: 450px; 
    height: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: rgb(207, 203, 203);

}
.price-text {
    margin-top: -20px;
    text-align: center;
    font-size: 18px;

}
table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}



.navbar{
    display: flex;
    width: 100%;
    height: 20%;
    background-color:#f8ecec;
    padding: 0px;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    height: 70px;
    margin: 5px;
    background-color:rgb(101, 65, 65);
    padding: 5px;
}
.input-text{
    height: 50px;
    width: 550px;
    font-size: 25px;
    border: none;
    margin: 10px 20px;
}
.nav-list{
    display: flex;
   
}
.nav-list img{
    color: rgb(236, 174, 17);
    height: 50px;
    margin: 15px;
    cursor: pointer;
}
.main-section{
    display: flex;
    justify-content: space-around;
    margin: 5px 0px;

}
.main-section a{
    text-decoration: none;
    color: black;
}
.main-section p{
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
} 
 
  /* footer start */
.copy {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    height: 50px;
    color: black;
}
.copy:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
footer{
    background-color:#f8ecec;
    height: 350px;
    margin-top: 100px;
    color: black;
}
.footer-container{
    display:flex;
    justify-content: space-around;
}
.footer-box{
    border-bottom: 2px solid goldenrod;
    height: 240px;
    width: 300px;
    color: black;
    padding: 20px 10px;
    text-align: justify;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 3;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.footer ul li {
    flex: 1;
    text-align: start;

}

.footer ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 15px;
}

.footer ul li a:hover {
    color: rgb(204, 116, 15) ;
}
.footer-info{
    display: block;
}
.logo-icon{
    height: 50px;
    width: 50px;
    
    
}
.footer-info:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-title{
    font-size: 20px ;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
    display: block;
}
.footer-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address{
    display: block;
    color: black;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 50px;
}
.footer-address:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address-title{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 17px;
}
.footer-address-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}

.main-container-deno{
    display: flex;
    flex-direction: column;
}

.main-billing-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark-mode {
    background-color: #b0aaad;
    color: black;
}
.btn-toggle {
    cursor: pointer;
    background-color: none;
    background-color: transparent;
    border: none;
}


@media screen and(min-width:400px)and (max-width: 600px){
    .logo img{
        height: 50px;
        margin: 5px;
    }
    .main-section p{
        font-size: 1px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
        width: 1px;
    }
    .main-section{
        display: flex;
        justify-content: space-around;
        margin: 5px 0px;
    
    }
    .main-section a{
        text-decoration: none;
        color: black;
    }
    .main-section p{
        font-size: 10px;;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
    }
    
    .input-text{
        height: 40px;
        width: 240px;
        border: none;
        margin: 3px 5px;
    }
    .nav-list img{
        color: rgb(236, 174, 17);
        height: 10px;
        width: 10px;
        margin: 2px;
        cursor: pointer;
    }
   .shop-by{
        text-align: center;
        font-size: 25px;
        background-color: aqua;
    }
    .category{
          text-align: center;
          font-size: 25px;
    } 
 }
@media screen and (max-width: 600px)
{
            .input-text{
                width: 200px;
            
            }
            .shop-by{
                text-align: center;
                font-size: 30px;
            }
            .category{
                  text-align: center;
                  font-size: 30px;
            }
            .nav-list img {
                color: rgb(236, 174, 17);
                height: 20px;
                margin: 5px;
                cursor: pointer;
            }
            .main-section p{
                font-size: 8px;
            }
            
        }
        @media screen and (min-width:600px)and (max-width:768px){
            .input-text{
                height: 40px;
                width: 230px;
                font-size: 15px;
                border: none;
                margin: 5px 10px;
            }
            .nav-list img{
                height: 40px;
            }
            .logo img{
                height: 50px;
                margin: 5px;
            }
            .shop-by{
                text-align: center;
                font-size: 35px;
            }
            .category{
                  text-align: center;
                  font-size: 35px;
            }
        }
        @media screen and (min-width: 769px) and (max-width: 992px) {
            .logo img{
                height: 50px;
                margin: 5px;
            }
            .input-text{
                height: 50px;
                width: 300px;
                font-size: 25px;
                border: none;
                margin: 10px 20px;
            }
            .nav-list img{
                color: rgb(236, 174, 17);
                height: 30px;
                margin: 10px;
                cursor: pointer;
            }
            #image-slider{
                display: block;
                width: 100%;
                margin: 0px auto;
              
            }
        
        }
        
        @media screen and (min-width: 993px) and (max-width: 1200px) {
            .input-text{
                height: 50px;
                width: 490px;
                font-size: 25px;
                border: none;
                margin: 10px 20px;
            }
        }
          
        
        .btn-toggle {
            cursor: pointer;
            background-color: transparent;
            border: none;
        }
        .dark-mode {
            background-color: rgb(36, 33, 33);
            color: white;
            .text{
                color: white;
            }
        }
        .main-section {
            color: white;
        }

        @media screen and (max-width:768px){
            .copy {
                padding-top: 25px;
                text-align: center;
                width: 100%;
                height: 25px;
                background-color: #f8ecec;
                color: black;
                font-size: 14px;
            }
            .copy:hover{
                color: rgb(204, 116, 15);
                cursor: pointer;
            }
            footer{
                background-color: #f8ecec;
                height:fit-content;
                padding: 20px 5px;
                margin-top: 100px;
                /* border: 5px solid red; */
            }
            .footer-container{
                display:flex;
                justify-content: space-around;
                flex-wrap:wrap;
            }
            .footer-box{
                border-bottom: 2px solid goldenrod;
                height: 200px;
                width: 300px;
                color:black;
                padding: 10px 10px;
                text-align: justify;
            }
            
            .footer ul {
                list-style-type: none;
                margin: 0;
                padding: 3;
                display: flex;
                flex-direction: column;
                justify-content: left;
                flex-wrap: wrap;
            
            }
            
            .footer ul li {
                flex: 1;
                text-align: start;
            
            }
            
            .footer ul li a {
                display: block;
                color: black;
                text-decoration: none;
                padding: 6px 20px;
                font-size: 10px;
            }
            
            .footer ul li a:hover {
                color:  rgb(204, 116, 15);
            }
            .footer-info{
                display: block;
                font-size: 10px;
                padding: 10px 2px;
            }
            
            .footer-info:hover{
                color:  rgb(204, 116, 15);
                cursor: pointer;
            }
            .logo-icon{
                height: 40px;
                background-color: rgb(101, 65, 65);
                padding: 10px;
            }
            .footer-title{
                font-size: 14px ;
                font-weight: bold;
                color: black;
                padding-bottom: 20px;
                display: block;
            }
            .footer-title:hover{
                color:  rgb(204, 116, 15);
                cursor: pointer;
            }
            .footer-add-container{
                margin-left: 40px;
            }
            .footer-address{
                display: block;
                color: black;
                font-size: 10px;
                padding-bottom: 5px;
                padding-top: 5px;
                padding-left: 50px;
            }
            .footer-address:hover{
                color:  rgb(204, 116, 15);
                cursor: pointer;
            }
            .footer-address-title{
                display: block;
                color: black;
                font-weight: bold;
                font-size: 11px;
            }
            .footer-address-title:hover{
                color: rgb(204, 116, 15);
                cursor: pointer;
            }
        }
        
