body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    padding:0;
}

.title {
    background-color: #eb2828;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
h1 {
    margin: 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.wishlist-item {
    background-color: #fff;
    border: 1px solid #ccc;

    max-width: 100%;
    height: auto;
}
.wishlist-item h2 {
    font-size: 18px;
    margin: 10px 0;
}
.wishlist-item p {
    font-size: 14px;
    margin: 0;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}
.btn{
    height: 50px;
    width: 50px;
   display: block;
   justify-content: left;
    
}
.img-home-icon{
    height: 50px;
    width: 40px;
}

.btn-footer{
    background-color: red;
    color: #fff;
    cursor: pointer;
}
.header{
    cursor: pointer;
}
.navbar{
    display: flex;
 
    height: 8%;
    background-color:#f8ecec;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    height: 80px;
    margin: 5px;
}
.input-text{
    height: 50px;
    width: 550px;
    font-size: 25px;
    border: none;
    margin: 10px 20px;
}
.nav-list{
    display: flex;
   
}
.nav-list img{
    color: rgb(236, 174, 17);
    height: 50px;
    margin: 20px;
    cursor: pointer;
}
.main-section{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}
.main-section a{
    text-decoration: none;
    color: black;
}
.main-section p{
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
footer{
    background-color: #f8ecec;
    height: 350px;
    margin-top: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.footer-container{
    display:flex;
    justify-content: space-around;
    color: black;
}
.footer-box{
    border-bottom: 2px solid goldenrod;
    height: 240px;
    width: 300px;
    color: #fff;
    padding: 20px 10px;
    text-align: justify;
    
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 3;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.footer ul li {
    flex: 1;
    text-align: start;

}

.footer ul li a {
    display: block;
    color: #fbf8f8;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 15px;
    color: black;
}

.footer ul li a:hover {
    color: rgb(204, 116, 15);;
}
.footer-info{
    display: block;
    color: black;
}
.logo-icon{
    height: 50px;
   
   
}
.footer-info:hover{
    color:rgb(204, 116, 15);
    cursor: pointer;
}
.footer-title{
    font-size: 20px ;
    font-weight: bold;
    color: #fff;
    padding-bottom: 20px;
    display: block;
    color: black;
}
.footer li{
    color: black;
}
.footer-title:hover{
    color: rgb(204, 116, 15);;
    cursor: pointer;
}
.footer-address{
    display: block;
    color: #fbf8f8;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 50px;
    color: black;
}
.footer-address:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address-title{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    color: black;
}
.footer-address-title:hover{
    color: rgb(204, 116, 15);
    cursor: pointer;
}
.copy{
    text-align: center;
    margin: 5px;
}
.copy {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    height: 50px;
    color: black;
}
.copy:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
footer{
    background-color:#f8ecec;
    height: 350px;
    margin-top: 100px;
    color: black;
}
.footer-container{
    display:flex;
    justify-content: space-around;
}
.footer-box{
    border-bottom: 2px solid goldenrod;
    height: 240px;
    width: 300px;
    color: black;
    padding: 20px 10px;
    text-align: justify;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 3;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.footer ul li {
    flex: 1;
    text-align: start;

}

.footer ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 15px;
}

.footer ul li a:hover {
    color: rgb(204, 116, 15) ;
}
.footer-info{
    display: block;
}
.logo-icon{
    height: 50px;
    width: 50px;
    
    
}
.footer-info:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-title{
    font-size: 20px ;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
    display: block;
}
.footer-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address{
    display: block;
    color: black;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 50px;
}
.footer-address:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}
.footer-address-title{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 17px;
}
.footer-address-title:hover{
    color:  rgb(204, 116, 15);
    cursor: pointer;
}

@media screen and (max-width:768px){
    .copy {
        padding-top: 25px;
        text-align: center;
        width: 100%;
        height: 25px;
        background-color: #f8ecec;
        color: black;
        font-size: 14px;
    }
    .copy:hover{
        color: rgb(204, 116, 15);
        cursor: pointer;
    }
    footer{
        background-color: #f8ecec;
        height:fit-content;
        padding: 20px 5px;
        margin-top: 100px;
        /* border: 5px solid red; */
    }
    .footer-container{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
    }
    .footer-box{
        border-bottom: 2px solid goldenrod;
        height: 200px;
        width: 300px;
        color:black;
        padding: 10px 10px;
        text-align: justify;
    }
    
    .footer ul {
        list-style-type: none;
        margin: 0;
        padding: 3;
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: wrap;
    
    }
    
    .footer ul li {
        flex: 1;
        text-align: start;
    
    }
    
    .footer ul li a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 6px 20px;
        font-size: 10px;
    }
    
    .footer ul li a:hover {
        color:  rgb(204, 116, 15);
    }
    .footer-info{
        display: block;
        font-size: 10px;
        padding: 10px 2px;
    }
    
    .footer-info:hover{
        color:  rgb(204, 116, 15);
        cursor: pointer;
    }
    .logo-icon{
        height: 35px;
        width: 35px;
        border-radius: 80px;
        background-color: #fbf8f8;
        padding: 10px;
    }
    .footer-title{
        font-size: 14px ;
        font-weight: bold;
        color: black;
        padding-bottom: 20px;
        display: block;
    }
    .footer-title:hover{
        color:  rgb(204, 116, 15);
        cursor: pointer;
    }
    .footer-add-container{
        margin-left: 40px;
    }
    .footer-address{
        display: block;
        color: black;
        font-size: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 50px;
    }
    .footer-address:hover{
        color:  rgb(204, 116, 15);
        cursor: pointer;
    }
    .footer-address-title{
        display: block;
        color: black;
        font-weight: bold;
        font-size: 11px;
    }
    .footer-address-title:hover{
        color: rgb(204, 116, 15);
        cursor: pointer;
    }
}